body {
  font-family: sans-serif;
  background-color: black;

}
.topnav {
  position: fixed;
  top: 3;
  width: 100%;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
}

.topnav-right {
  font-size: 20px;
  float: right;
  padding-right: 5px;
}

.topnav-left{
  font-size: 30px;
  padding-left: 10px;
}

body, html {
  height: 100%;
}

.parallax {

    background: linear-gradient(to left, transparent, black), url("mainbackground.jpg");
    border: 0;
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }

 .box{
  height:750px;background-color:white;font-size:36px
 }
 
.caption {
  text-align: left;
  padding-top: 26%;
  color: white;
  padding-left: 24px;
  font-weight: 300;
  font-size: 44px;
  background-color: transparent;
}

.column {
  float: left;
  width: 33.33%;
  height: 300px; 
  font-weight: lighter;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}