body {
  font-family: Raleway;
  background-color: black;
  font-weight: lighter;

}
.topnav {
  position: fixed;
  top: 3;
  width: 100%;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: lighter;
}

.topnav-right {
  font-size: 25px;
  float: right;
  padding-right: 5px;
}

.topnav-left{
  font-size: 33px;
  padding-left: 10px;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;

}

.parallax {

    background: linear-gradient(to left, transparent, black), url("../images/2ndbackground.png");
    border: 0;
    height: 100%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }


.parallaxv2 {

  background: linear-gradient(to left, transparent, black), url("../images/mainbackground.jpg");
  border: 0;
  height: 100%; 
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.parallaxv3 {

  background: linear-gradient(to left, transparent, black), url("../images/3rdbackground.jpg");
  border: 0;
  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.parallaxv4 {

  background: url("../images/4thbackground.jpg");
  border: 0;
  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

 .box{
  height:750px;
  background-color:#FFC4B2;
  font-size:36px;
  overflow: hidden;
 }

 .boxv2 {
  height:500px;
  background-color:#FFC4B2;
  font-size:36px;
  overflow: hidden;
  /* width: auto; */
 }
 
 .boxBooking{
  height:500px;
  background-color:#ffc4b2;
  font-size:36px;
  overflow: hidden;
  text-align: center;
  padding-left: 10%;
  /* padding-right: 10%; */
 }

 .boxBooking2{
  height:500px;
  background-color:#ffc4b2;
  font-size:36px;
  overflow: hidden;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
 }

 .calendar{
   background-color: #ffc4b2;
   float: right;
   padding-right: 25%;
   font-size: 175%;
   margin: 0;
 }

 .days{
   padding-right: 10%;
 }
 
 .notice{
   background-color: #ffc4b2;
   padding: 5%;
   margin: 0;
   font-size: 200%;
   text-align: center;
 }
 .newForm{
  height:500px;
  background-color:#ffc4b2;
  font-size:36px;
  overflow: hidden;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
 }

.bookedData{
  background-color: #ffc4b2;
  margin: 0;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 200%;
  overflow:hidden;
  text-align:center;
}
.caption {
  text-align: left;
  padding-top: 26%;
  color: white;
  padding-left: 5%;
  font-weight: 300;
  font-size: 44px;
  background-color: transparent;
}

.column {
  float: left;
  width: 23%;
  height: 300px; 
  font-weight: lighter;
  padding-left: 5%;
  padding-right: 5%;
}
.columnAboutMe {
  float: left;
  width: 90%;
  height: 300px; 
  font-weight: lighter;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color:  #FFC4B2;
  width: 12.5%;  
  text-align: left;
  border-radius: 7px;
  padding: 20px;
  color: black;
  font-size: 60%;
  font-weight: 900;
  text-decoration: none;
}

.igTitle a{
  text-decoration: none;
  color: black;
}

.igTitle a:hover {
  color: white;
}

.BOOKME {
  width: 90%;
  height: 100px; 
  font-weight: lighter;
  padding-right: 5%;
  text-align: center;
  /* overflow: hidden; */
}

.selected{
  border: 10px;
  border-color: black; 
  border-style: solid;
  border-width: thin;
}
.tableBook {
  width:90%; 
}

.tableBook td {
  padding-top: 3%;
}

#container {
  color: black;
  text-align: center;
  position: relative;
  top: 40%;
  border-style: solid;
  border-color: #FFC4B2;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: #FFC4B2;
  font-size: 120%;
  border-radius: 10px;
}

#container form {
  padding: 5%;
}

#username {
  font-size: 120%;
}

#password {
  font-size: 120%;

}