body {
  font-family: Raleway;
  background-color: black;
  font-weight: lighter;

}
.topnav {
  position: fixed;
  top: 3;
  width: 100%;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: transparent;
  color: white;
  font-weight: lighter;
}

.topnav-right {
  font-size: 20px;
  float: right;
  padding-right: 5px;
}

.topnav-left{
  font-size: 30px;
  padding-left: 10px;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;

}

.parallax {

    background: linear-gradient(to left, transparent, black), url("../images/2ndbackground.png");
    border: 0;
    height: 100%; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }


.parallaxv2 {

  background: linear-gradient(to left, transparent, black), url("../images/mainbackground.jpg");
  border: 0;
  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.parallaxv3 {

  background: linear-gradient(to left, transparent, black), url("../images/3rdbackground.jpg");
  border: 0;
  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.parallaxv4 {

  background: url("../images/4thbackground.jpg");
  border: 0;
  height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

 .box{
  height:750px;background-color:#FFC4B2;font-size:36px
 }
 
 .boxBooking{
  height:600px;
  background-color:#ffc4b2;
  font-size:36px;
  overflow: hidden;
 }

 .newForm{
  height:750px;
  background-color:#ffc4b2;
  font-size:36px;
  overflow: hidden;
 }
.caption {
  text-align: left;
  padding-top: 26%;
  color: white;
  padding-left: 5%;
  font-weight: 300;
  font-size: 44px;
  background-color: transparent;
}

.column {
  float: left;
  width: 23%;
  height: 300px; 
  font-weight: lighter;
  padding-left: 5%;
  padding-right: 5%;
}
.columnAboutMe {
  float: left;
  width: 90%;
  height: 300px; 
  font-weight: lighter;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  overflow: hidden;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color:  #FFC4B2;
  width: 12.5%;  
  text-align: left;
  border-radius: 7px;
  padding: 20px;
  color: black;
  font-size: 60%;
  font-weight: 900;
  text-decoration: none;
}

.igTitle a{
  text-decoration: none;
  color: black;
}

.igTitle a:hover {
  color: white;
}

.BOOKME {
  width: 90%;
  height: 100px; 
  font-weight: lighter;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  /* overflow: hidden; */
}

.selected{
  border: 10px;
  border-color: black; 
  border-style: solid;
}
.tableBook {
  width:90%; 
}

.tableBook td {
  padding-top: 3%;
}